header{
	background: gainsboro;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    margin-bottom: 1rem;
}

.menu{
    text-transform: uppercase;
	font-weight: bold;
    font-size: 2.2rem;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items li {
    display: flex;
    border-right: solid 2px #555;
}

.menu-items li:last-child {
    border: none;
}

.menu-items li:hover {
	background: #800;
    transition: .3s all;
}

.menu-items a{
    padding: 15px;
	text-decoration: none;
	color:#444;
    cursor: pointer;
    transition: all .3s;
}


.menu-items a:hover {
    color: white;
}