header{
	background: gainsboro;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    width: 200px;
    margin-bottom: 1rem;
}

.menu{
    text-transform: uppercase;
	font-weight: bold;
    font-size: 2.2rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    display: flex;
    border-right: solid 2px #555;
}

.menu__item:last-child {
    border: none;
}

.menu__item:hover {
	background: #800;
    transition: .3s all;
}

.menu__link {
    padding: 15px;
	text-decoration: none;
	color:#444;
    cursor: pointer;
    transition: all .3s;
}


.menu__link:hover {
    color: white;
}