header{
	background: gainsboro;
	padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    margin-bottom: 1rem;
}

.menu{
    text-transform: uppercase;
	font-weight: bold;
    font-size: 2.2rem;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items li {
    display: flex;
    border-right: solid 2px #333;
}

.menu-items li:hover
 {
	background: #800;
    transition: .3s all;
}

.menu-items a{
    padding: 15px;
	text-decoration: none;
	color:black;
    cursor: pointer;
    transition: all .3s;
}


.menu-items a:hover {
    color: white;
}

@media (max-width: 760px) {
   .header-container {
        flex-direction: column;
    }

    .menu,
    .menu-items li {
    width: 100%;
    }

    .menu-items {
        flex-direction: column;
    }

    .menu-items li {
        width: 100%;
        border: none;
        border-bottom: solid 1px black;
        justify-content: center;
    }
}