.representacoes{
    max-height: 300px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'title'
                   'represented-list';                   
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr;          
}

.representacoes .standard-title {
 grid-area: title;
 grid-column: 1;
 grid-row: 1;
}

.representacoes__lista{
	width: 100%;
    text-align: center;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 'represented'; 
    gap: 1rem;
}

.representacoes__lista__item{
	width: 100%;
	opacity: 70%;
    transition: 0.7s all;
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: represented;
    
}

.representacoes__lista__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.representacoes__lista__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.representacoes__lista__item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
}

.representacoes__lista__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.representacoes__lista__item:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
}

.representacoes__lista__item:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
}

.representacoes__lista__item img{
	width:60%;
}

.representacoes__lista__item:hover{
	opacity:100%;
	transform: scale(1.2);

}