.footer {
    margin: 2em 0 0;
	background: url('../../images/bg.jpg');
	padding: 5em 0;
	text-align: center;
}

.footer__logo {
    max-width: 30rem;
}

.footer__text {
	color: white;
	font-size: 13px;
	text-align: center;
}

.footer__text:before {
	content: "© 2020 - ";
}