@media screen and (max-width: 1192px) {
    .contact__container {
        flex-direction: column;
    }

    .contact {
        width: 75vw;
    }

    .contact__input,
    .contact__text {
        width: 75%;
    }

    .map {
        padding-bottom: 5rem;
    }
}

@media (max-width: 768px) {
   .header {
        flex-direction: column;
        height: 100%;
    }

    .header__menu,
    .menu__item {
    width: 100%;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        border-right: none;
        border-radius: .4rem;
        justify-content: center;
        z-index: 1;
    }

    .menu__item {
        border-right: none;
        border-bottom: solid 2px #555;
    }

    .menu__link {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .represented {
        max-height: none;
    }

    .represented__lista {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    .represented__item:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    }

    .represented__item:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    }

     .represented__item:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
    }

     .represented__item:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
    }

     .represented__item:nth-child(5) {
    grid-row: 3;
    grid-column: 1;
    }

     .represented__item:nth-child(6) {
    grid-row: 3;
    grid-column: 2;
    }

}

@media screen and (max-width: 500px) {
    .represented__lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .represented__item {
        background: #ececec;
        height: 84px;
        border-radius: 5rem;
    }
}