.map {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    margin-top: 2rem;
    padding-top: 5rem;
}

.map__content,
.map__text {
    width: 90%;
    margin: 0 auto;
}

.map__text {
    background: rgb(230, 230, 230);
    box-sizing: border-box;
    padding-left: 1rem; 
    border: 1px solid #eeeeee;
}

.map__text:last-child {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
