.menu{
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
	font-weight: bold;
    font-size: 2.2rem;
}

.menu__item {
    height: 100%;
    display: flex;
    align-items: center;
    border-right: solid 2px #555;
    box-sizing: border-box;
    transition: .3s all;
}

.menu__item:last-child {
    border-right: none;
}

.menu__item:hover,
.menu__item--active {
	border-bottom: 5px solid #800 !important;
}

.menu__link {
    padding: 3rem 1.5rem;
	text-decoration: none;
	color:#444;
    cursor: pointer;
    transition: all .3s;
}


.menu__link:hover {
    color: #555;
}